
MODEL_API_BASE = ""
MODEL_API_MULTI = ""
MODEL_API_SERVER = ""
# Instruct AI
MODEL_MISTRAL = "unsloth/mistral-7b-instruct-v0.3-bnb-4bit"
MODEL_QWEN_MULTI = "unsloth/Qwen2-VL-2B-Instruct-bnb-4bit"
MODEL_QWEN = "unsloth/Qwen3-4B-unsloth-bnb-4bit"
MODEL_LLAMA = "kehanlu/llama-3.2-8B-Instruct"

# Transcribe Model
SUMMARIZE_SERVICE_URL = 
WHISPER_MODEL = "tiny"

BASE_DIR = file/

OUTPUT_FOLDER=assets/          
OUTPUT_PATH=assets/output.txt
OUTPUT_VIDEO=assets/output_vid.txt

MAX_TOKENS_PER_CLUSTER = 1024
MAX_TOKENS_PROMPT = 1024
MAX_TOKENS_MODEL = 1024

